<!DOCTYPE  html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="layui-form">
  <div class="layui-form-item input-item">
    <label>邮箱</label>
    <input type="text" name="email" class="layui-input" lay-verify="required">
  </div>
  <div class="layui-form-item input-item">
    <label>验证码</label>
    <input type="text" name="code" class="layui-input" lay-verify="required">
    <button type="button" class="layui-btn layui-btn-sm" id="sendCode">发送验证码</button>
  </div>
  <div class="layui-form-item input-item">
    <label>新密码</label>
    <input type="password" name="newPassword" class="layui-input" lay-verify="required">
  </div>
  <div class="layui-form-item">
    <button class="layui-btn layui-block" lay-submit lay-filter="resetPassword">重置密码</button>
  </div>
</form>
</body>
</html>